<p>
    <h2>Send a message to team member {{ include.contact.name }}</h2>
    <form name="contact-form" action="http://formspree.io/{{ include.contact.email }}">
        <label for="email">Email :</label>
        <input name="_replyto" type="email" placeholder="you@example.com" required="" />
        <label for="message">Message :</label>
        <br>
        <textarea name="body" placeholder="Type your message..."></textarea>
        <br>
        <center><input type="submit" value="Send"></input></center>
    </form>
</p>
