<form name="contact-form" method="POST" action="mailto:contact@sw1ss.team?subject=Website Message&body=Just testing">
   <label for="name">Name :</label>
   <input name="name" type="text" placeholder="John Do" required="" />
   <label for="email">Email :</label>
   <input name="email" type="email" placeholder="you@example.com" required="" />
   <label for="message">Message :</label>
   <br />
   <textarea name="message" placeholder="Type your message..."></textarea>
   <center><button type="submit" name="send">Send Message</button></center>
</form>
