        
        <h3><a href="https://sw1ss.team/members/{{ include.member.name }}">{{ include.member.name }}</a></h3>
        <div class="post-content">
            <img src="{{ include.member.image_path }}" alt="{{ include.member.name }}" />
            <h4>Name : </h4>{{ include.member.name }}
            <h4>Team Position : </h4>{{ include.member.position }}
            <h4>Social Networks :</h4>
            <ul>
                {% if include.member.twitter %}
                <li>
                    <h5>Twitter : </h5><a href="https://twitter.com/{{ include.member.twitter }}" target="_blank">{{ include.member.name }}'s Twitter</a>
                </li>
                {% endif %}
                
                {% if include.member.github %}
                <li>
                    <h5>Github : </h5><a href="https://github.com/{{ include.member.github }}" target="_blank">{{ include.member.name }}'s Github</a>
                </li>
                {% endif %}
            </ul>
        </div>
