        <div class="container halves">
            <div>
                <ul class="image-list">
                    <li><img src="{{ include.member.image_path }}" alt="{{ include.member.name }}" width="350"></li>
                </ul>
            </div>
            <div>
                <h3 class="editable">{{ include.member.name }}</h3>
                <p class="editable">{{ include.member.position }}</p>
                {% for social-network in include.member.social-networks %}
                    <a href="{{ social-network.url }}">{{ social-network.name }}</a><br />
                {% endfor %}
                {% for hacking-platform in include.member.hacking-platforms %}
                    <a href="{{ hacking-platform.url }}">{{ hacking-platform.name }}</a><br />
                {% endfor %}
                {% for bug-bounty in include.member.bug-bounties %}
                    <a href="{{ bug-bounty.url }}">{{ bug-bounty.vendor }}'s Hall Of Fame</a><br />
            {% endfor %}
            </div>
        </div>